<h3>DANH SÁCH NHÂN VIÊN</h3>
<%= form_with url: "/admin/employees/list", method: :get do |form| %>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <%= form.select :department, @departments.collect { |department| [department.name, department.id] }.unshift(['Phòng ban', '']),
          { :selected => @department_id }, { class: "form-control" } %>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
      <input type="submit" name="search" value="<%= t('search') %>" class="btn btn-large btn-primary">
    </div>
  </div>
<% end %>
<% if @employees.present? %>
  <div class="row header-background font-weight-bold text-center border" style="margin: 0px;">
    <div class="col-md-1 border-right">Mã nhân viên</div>
    <div class="col-md-2 border-right">Họ tên</div>
    <div class="col-md-2 border-right">Phòng ban</div>
    <div class="col-md-3 border-right">Chức danh</div>
    <div class="col-md-1 border-right">Chi nhánh</div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-5 border-right">Ngày vào công ty</div>
        <div class="col-md-7 border-right"></div>
      </div>
    </div>
  </div>
  <% @employees.each do |employee| %>
    <div class="row border-left border-right border-bottom" style="margin: 0px;">
      <div class="col-md-1 text-center border-right padding-top"><%= employee.employee_number %></div>
      <div class="col-md-2 border-right padding-top"><%= employee.name %></div>
      <div class="col-md-2 border-right padding-top"><%= employee.department.name %></div>
      <div class="col-md-3 border-right padding-top"><%= employee.position %></div>
      <div class="col-md-1 border-right padding-top"><%= employee.branch %></div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-5 border-right padding-top"><%= employee.registration_date %></div>
          <div class="col-md-7 padding-top">
            <%= link_to t('reset_password'), admin_password_reset_path(:employee_id => employee.id), method: :post, data: { confirm: "Bạn có muốn khôi phục mật khẩu cho nhân viên " + employee.name + "  không?" }, class: 'btn btn-sm btn-primary margin-top' %><br>
            <button type="button" class="btn btn-sm btn-primary margin-top" data-toggle="modal" data-target="#changeRoleModal" data-whatever="<%= employee.id %>" onclick="set_data(<%= employee.id %>, <%= employee.role_before_type_cast %>, '<%= employee.name %>');"><%= t('change_role') %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= paginate @employees %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="modal fade" id="changeRoleModal" tabindex="-1" aria-labelledby="changeRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeRoleModalLabel">Thay đổi quyền hạn cho nhân viên</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('close') %>">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with url: "/admin/employees/change_role", method: :post, html: { id: 'form_change_role', name: 'form_change_role'} do |form_role| %>
            <input type="hidden" name="employee_id" value="" />
            <div class="form-group">
              <label for="role" class="col-form-label">Quyền hạn:</label>
              <select id="role" name="role" class="form-control">
                <option value="0">Nhân viên</option>
                <option value="1">Quản lý</option>
                <option value="2">Giám đốc</option>
                <option value="3">Chủ tịch</option>
                <option value="9">Quản trị viên</option>
              </select>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('close') %></button>
          <button type="button" class="btn btn-primary" onclick="document.getElementById('form_change_role').submit();"><%= t('save') %></button>
        </div>
      </div>
    </div>
  </div>
<% else %>
<div class ="row">
  <div class="col-md-12">
    <span class="highlight">Không tìm thấy nhân viên.</span>
  </div>
</div>
<% end %>
<script type="text/javascript">
  function set_data(id, role, name) {
    document.getElementById('employee_id').value = id;
    document.getElementById('role').value = role;
    document.getElementById('changeRoleModalLabel').textContent = 'Thay đổi quyền hạn cho nhân viên ' + name;
  }
</script>